body {
  min-height: 100vh;
  background-color: #e493d0;
  background:
    radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(243, 11, 164, 1), rgba(243, 11, 164, 0)),
    radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgb(170, 142, 254, 1), rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, rgb(248, 131, 124, 1), rgba(248, 192, 147, 0));
  background-size:
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: move 20s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

body::after{
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(30px);
}

p{
  font-family: 'lato', sans-serif;
  font-size: 92px;
  font-weight: 100;
  color: #a8a8a8;
  text-align: center;
  z-index: 99;
  animation: font-move 0.6s ease-in-out;
  letter-spacing: 4px;
}

@keyframes font-move{
  0%{
    opacity: 0;
    transform: translateY(150px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move {

  0%,
  100% {
    background-size:
      130vmax 130vmax,
      80vmax 80vmax,
      80vmax 90vmax,
      110vmax 110vmax,
      90vmax 90vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
  }

  25% {
    background-size:
      40vmax 40vmax,
      110vmax 110vmax,
      20vmax 20vmax,
      30vmax 30vmax,
      110vmax 110vmax;
    background-position:
      -20vmax -20vmax,
      90vmax 90vmax,
      50vmax 50vmax,
      50vmax 30vmax,
      10vmax 30vmax;
  }
  50% {
    background-size:
      10vmax 10vmax,
      110vmax 110vmax,
      60vmax 70vmax,
      90vmax 90vmax,
      70vmax 70vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
  }

  75% {
    background-size:
      10vmax 10vmax,
      20vmax 20vmax,
      30vmax 30vmax,
      -90vmax -90vmax,
      50vmax 50vmax;
    background-position:
      -10vmax -50vmax,
      110vmax 110vmax,
      30vmax 40vmax,
      130vmax 10vmax,
      30vmax 30vmax;
  }
}